{% set source = rke2_kubeconfig.content | b64decode | from_yaml %}
{{ source | combine({'current-context': 'rke2-management', 'contexts': [{'name': 'rke2-management', 'context': source.contexts[0].context}]}) | to_nice_yaml }}
