{% set lab_id = lab_definition | basename | regex_replace('-.*$', '') %}
{% macro wrap(text, indent) %}{{ text | wordwrap(width=78 - indent, break_long_words=false, break_on_hyphens=false) | indent(indent) }}{% endmacro %}

{{ '#' * 78 }}
  YOUR TASK: {{ selected_lab.title }}
{{ '#' * 78 }}

QUESTION TO ANSWER
  {{ wrap(selected_lab.task.question, 2) }}

THEORY BEFORE YOU START
{% for paragraph in selected_lab.task.brief.theory %}
  {{ wrap(paragraph, 2) }}

{% endfor %}
{% if selected_lab.task.brief.theory_source is defined %}
  Source: {{ wrap(selected_lab.task.brief.theory_source, 10) }}
{% endif %}

IN THIS LAB
{% for point in selected_lab.task.brief.in_this_lab %}
  - {{ wrap(point, 4) }}
{% endfor %}

PREDICT FIRST (write it in your journal before you start)
  {{ wrap(selected_lab.task.predict, 2) }}

STEPS
{% for step in selected_lab.task.steps %}
  {{ '%-3s' | format(loop.index ~ '.') }}{{ wrap(step, 5) }}
{% endfor %}

EXPLAIN THE RESULT
  {{ wrap(selected_lab.task.answer_with, 2) }}

{% include 'commands.txt.j2' %}

After writing your explanation, compare with:
./ansible/run-lab.sh {{ lab_id }} solution
Show this task again:   ./ansible/run-lab.sh {{ lab_id }} question
Remove the fixture:     ./ansible/run-lab.sh {{ lab_id }} reset
